body, ul, li, h1, h2, a, img, div{ /*simple reset*/
    border: 0;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: #f63232;
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
    left: 0;
}
header h1{
    font-size: 3.3rem;
    color: #fff;
    border: 8px solid #fff;
    padding: 6px 12px;
    display: inline-block;
    margin: 1.2rem;
    border-radius: 3.2rem;
}
.banner{
    position: relative;
    /* margin: 0; */
    background-color: #feb614;
}
.banner img{
    max-width: 100%;
}
.banner .welcome{
    background-color: #feb614;
    color: #fff;
    padding: 1.2rem;
    position: absolute;
    left: 0px;
    top: 30%;
}
.banner h2{
    font-size: 4.1rem;
}
.banner h2 span{
    font-size: 4.9rem;
}
nav{
    background-color: #f4f4f4;
    padding: 15px;
    position: sticky;
    top: 120px;
}
nav ul{
    max-width: 1200px;
    margin: 0 auto;
    white-space: nowrap;
}
nav li{
    width: 25%;
    display: inline-block;
    font-size: 2.3rem;
}
nav li a{
    text-decoration: none;
    color: #4b4b4b;
}
nav li a.join{
    color: #f63232;
}
.nav-center{
    text-align: center;
}
main{
    max-width: 100%;
    width: 1200px;
    margin: 80px auto;
    padding: 0 40px;
    box-sizing: border-box;
}
article h2{
    color: #f63232;
    font-size: 3.3rem;
}
article p{
    line-height: 1.5rem;
    color: #4b4b4b;
}
.images{
    text-align: center;
    margin: 80px 0;
    white-space: nowrap;
}
.images li{
    display: inline-block;
    width: 40%;
    margin: 20px 5%;
}
.images li img{
    max-width: 100%;
}
section.join{
    background: #f4f4f4;
    text-align: center;
    padding: 60px 20px;
    color: #4b4b4b;
}
.join h2{
    font-size: 36px;
}
form input{
    margin: 20px 0;
    padding: 10px 20px;
    font-size: 24px;
    border-radius: 28px;
    border: 4px solid white;
    text-align: center;

}
footer{
    background: #f63232;
    color: #fff;
    text-align: center;
    padding: 10px;
}
 /*----------------------------------- pseudo classes */
nav li a:hover{
    text-decoration: underline;
    background-color: pink;
    padding: 3px;
}
.images li:hover{
    position: relative;
    top: -4px;
}
form input:focus{
    border: 4px dashed #4b4b4b;
    outline: none;
}
form input:valid{
    border: 4px solid #71d300;
}
article p::first-line{
    font-weight: bold;
    font-size: 1.2rem;
}
section.join p::first-letter{
    font-size: 1.2rem;
}
p::selection{
    background-color: #f63232;
    color: white;
}
/*------------------------------------------- responsive styles*/
@media screen and (max-width: 1400px){
    header h1{
        font-size: 2.7rem;
    }
    .banner .welcome h2{
        font-size: 3.6rem;
    }
    .banner h2 span{
        font-size: 4.1rem;
    }
    nav{
        position: sticky;
        top: 115px;
        z-index: 1;
    } 
    nav li{
        font-size: 1.8rem;
    }
}
@media screen and (max-width: 1200px){
    .images li{
        width: 100%;
        margin: 20px auto;
        display: block;
    }
    nav{
        position: sticky;
        top: 113px;
    }
}
@media screen and (max-width: 960px){
    header h1{
        font-size: 2.0rem;
        border: 4px solid #fff;
        padding: 5px 9px;
        display: inline-block;
        margin: 1.0rem;
        border-radius: 3.2rem;
    }
    .banner .welcome h2{
        font-size: 2.3rem;
    }
    .banner h2 span{
        font-size: 2.6rem;
    }
    nav{
        position: sticky;
        top: 85px;
        z-index: 1;
    } 
    nav li{
        font-size: 1.5rem;
    }
}
@media screen and (max-width: 700px){
    header h1{
        font-size: 1.8rem;
        border: 3px solid #fff;
        padding: 4px 8px;
        display: inline-block;
        margin: 0.8rem;
        border-radius: 3.2rem;
    }
    .banner .welcome{
        position: relative;
        text-align: center;
        padding: 10px;
    }
    .banner .welcome br{
        display: none;
    }
    .banner .welcome h2{
        font-size: 1.8rem;
    }
    .banner h2 span{
        font-size: 1.8rem;
    }
    nav{
        position: sticky;
        top: 73px;
        z-index: 1;
    }
    nav li{
        font-size: 1.3rem;
    }
    .images li{
        display: block;
        width: 100%;
        margin: 20px auto;
    }
}
@media screen and (max-width: 560px){
    .nav-center{
        display: block;
        width: 100%;
        margin: 12px 0;
    }
    nav{
        padding: 5px;
        top: 0;
    }
    header{
        position: relative;
    }

}